extends ../../layout/main

block variables
  - title = 'Engeneer';
  - description = '';
  - theme = '#e10303';
  - slug = 'contacts';
  - pageClass = slug + '-page';

block content
  section(class=slug)
    +wrapper(slug)
      .contacts__left
        h2.contacts__heading.h2 Компания&nbsp;
          span.inherit Engineer
        .contacts__cell_wrapper
          .contacts__cell
            .contacts__cell_top
              +icon('icon', 'phone')
              a.contacts__cell_text.text-regular(href="tel:+74957617146") +7 (495) 761-71-46
            a.contacts__cell_descr.text-small.light(href="#callback") Заказать обратный звонок
        .contacts__cell_wrapper
          .contacts__cell
            .contacts__cell_top
              +icon('icon', 'mail')
              a.contacts__cell_text.text-regular(href="mailto:info@tс-engineer.ru" target="_blank") info@tс-engineer.ru
        .contacts__cell_wrapper
          .contacts__cell
            .contacts__cell_top
              +icon('icon', 'wa')
              a.contacts__cell_text.text-regular(href="https://wa.me/+74957617146" target="_blank" rel="nofollow noreferrer") Написать в WhatsApp
        .contacts__cell_wrapper
          .contacts__cell
            .contacts__cell_top
              +icon('icon', 'placemark')
              p.contacts__cell_text.text-regular
                | г. Москва, проезд Серебрякова, 14/23, эт. 2, оф. 18
        .contacts__cell_wrapper
          .contacts__cell
            .contacts__cell_top
              +icon('icon', 'placemark')
              p.contacts__cell_text.text-regular
                | Юридический адрес:
                br
                | 141206, Московская обл., Пушкинский район, г. Пушкино,
                br
                | улица Заводская, строение 7, этаж 3, помещение 18
        .contacts__cell_wrapper
          .contacts__cell
            .contacts__cell_top
              +icon('icon', 'doc2')
              .contacts__cell_text.text-regular
                | ИНН 5038113193
                br
                | ОГРН 1155038003119
        .contacts__sep
        h2.contacts__heading.h2 Напишите нам
        +formMessage(slug+'__from', [
          {
            type: 'text',
            name: 'name',
            placeholder: 'Ваше имя'
          },
          {
            type: 'email',
            name: 'mail',
            placeholder: 'Ваш email'
          },
          {
            type: 'textarea',
            name: 'message',
            placeholder: 'Текст сообщения'
          },
        ])
      .contacts__right
        include ../../components/map/map
  include ../../components/screen/screenCallback
