extends ../../layout/main

block variables
  - title = 'Engeneer';
  - description = '';
  - slug = 'security'
  - pageClass = slug + '-page';

block content
  section.security__section
    +wrapper(slug)
      +breadcrumbs(
        [{
          link: '#',
          name: 'Услуги'
        },
        {
          link: '#',
          name: 'Управление информационной безопасностью'
        }]
      )
      h2.security__header.h2 Управление информационной безопасностью
      +card('svg-medal', 'Внедрение ISO/IEC 27001', 'security__card')
      +card('transfer', 'Приведение в <br> соответствие с 187-ФЗ', 'security__card')
      +card('gost', 'Защита информации <br> финансовых организаций <br> (ГОСТ 57580.1)', 'security__card')
      +card('gdpr', 'Приведение в <br> соответствие GDPR', 'security__card')
      +card('audit', 'Экспертный аудит и <br> разработка стратегии ИБ', 'security__card')
      +card('microsoft', 'Приведение в <br> соответствие Microsoft <br> DPR', 'security__card')
      +card('risk', 'Оценка рисков ИБ', 'security__card')
      +card('implement', 'Внедрение BSI IT Grundschutz', 'security__card')
      +card('stats', 'Приведение в <br> соответствие 152-ФЗ', 'security__card')
  include ../../components/screen/screenConsult
  include ../../components/screen/screenProjects
  include ../../components/screen/screenAlso
