@use 'src/scss/utils/utils' as *;

%button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: rem(10) 0;
  border: 1px solid $red;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }
}

.button {
  &-primary {
    @extend %button;

    background-color: $red;
    color: $white;
  }

  &-secondary {
    @extend %button;

    color: $red;
  }
}
