.slider-feedback
  .slider-feedback-wrapper
    each index in [1,2]
      .slider-feedback-slide
        +pic('slider-feedback-img', './assets/img/user.jpg')
        p.slider-feedback-after.text-big.text-center Внезапно, тщательные исследования конкурентов, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут описаны максимально подробно.
        p.slider-feedback-author.text-big Иванов Иван
        p.slider-feedback-regalia.text-small UI/UX Designer
      .slider-feedback-slide
        +pic('slider-feedback-img', './assets/img/user.jpg')
        p.slider-feedback-after.text-big.text-center Внезапно, тщательные исследования конкурентов, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут описаны максимально подробно.
        p.slider-feedback-author.text-big Иванов Иван
        p.slider-feedback-regalia.text-small UI/UX Designer
      .slider-feedback-slide
        +pic('slider-feedback-img', './assets/img/user.jpg')
        p.slider-feedback-after.text-big.text-center Внезапно, тщательные исследования конкурентов, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут описаны максимально подробно.
        p.slider-feedback-author.text-big Иванов Иван
        p.slider-feedback-regalia.text-small UI/UX Designer
  .slider-feedback-pagination
