section.screen-partners#certs
  +wrapper('screen-partners')
    h2.h2.screen-partners-heading Партнёры - сертификационные органы
    +pic('screen-partners-img', './assets/img/bsi.png')
    a.screen-partners-img.certificate.glightbox(href='/assets/img/cert-1.png')
      +pic('', './assets/img/cert-1.png')
    a.screen-partners-img.certificate.glightbox(href='/assets/img/cert-2.png')
      +pic('', './assets/img/cert-2.png')
    +pic('screen-partners-img', './assets/img/tuv.png')
