@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.screen-partners {
  @include media-breakpoint-between(0, xs) {
    padding: rem(30) rem(10);
  }

  padding: rem(60) 0;

  &__container {
    @include make-grid-container($grid-desktop, $grid-desktop-gap-col);
    @include media-breakpoint-between(0, xs) {
      grid-template-columns: 100%;
      gap: rem(15) 0;
    }

    position: relative;
    z-index: 1;
    width: 100%;
  }

  &-heading {
    @include make-col-fluid();
    @include media-breakpoint-down(lg) {
      margin-bottom: rem(20);
    }

    margin-bottom: rem(50);
    text-align: center;
  }

  &-img {
    @include make-col-size(3, 1);

    display: flex;
    align-items: center;
    justify-content: center;

    &.certificate {
      border: 1px solid #e8e9eb;
      border-radius: 3px;
      box-shadow: 0 8px 16px rgba(50, 50, 71, 0.06);

      img {
        width: 100%;
      }
    }

    img {
      display: block;
      width: auto;
      height: auto;
    }
  }
}
