section.screen-also
  +wrapper('screen-also')
    h2.screen-also-heading.h2 Вас также может заинтересовать
    +cardAlso('doc', 'Подготовка к сертификации по международному стандарту ISO/IEC 27001', '#', 'screen-also-card' )
    +cardAlso('training', 'Проведение тренингов по информационной безопасности', '#', 'screen-also-card' )
    +cardAlso('business', 'Управление непрерывностью бизнеса, внедрение ISO 22301', '#', 'screen-also-card' )
