extends ../../layout/main

block variables
  - title = 'Engeneer';
  - description = '';
  - theme = '#e10303';
  - slug = 'index';
  - pageClass = slug + '-page';

block content
  section.index__banner
    +pic('index__banner-bg', './assets/img/back-main.jpg')
    +wrapper(slug)
      h1.index__header Внедрение ISO/IEC 27001
      +buttonPrimary({
            link: '#',
            text: 'Бесплатная консультация'
          }, 'index__btn')
  section.index__cards
    +wrapper(slug)
      .index__cards-item
        +icon('icon-big', 'control-sec')
        p.index__cards-item-header Управление ИБ
        .index__cards-item-body
          p.index__cards-item-descr Некоторые особенности внутренней политики разоблачены! Разнообразный и богатый опыт говорит нам, что внедрение.
          +buttonPrimary({
              link: '#',
              text: 'Подробнее'
            }, 'btn-small index__btn')
      .index__cards-item
        +icon('icon-big', 'collab')
        p.index__cards-item-header
          | Управление
          br
          | непрерывностью бизнеса
        .index__cards-item-body
          p.index__cards-item-descr Некоторые особенности внутренней политики разоблачены! Разнообразный и богатый опыт говорит нам, что внедрение.
          +buttonPrimary({
              link: '#',
              text: 'Подробнее'
            }, 'btn-small index__btn')
      .index__cards-item
        +icon('icon-big', 'supp')
        p.index__cards-item-header Управление ИТ
        .index__cards-item-body
          p.index__cards-item-descr Некоторые особенности внутренней политики разоблачены! Разнообразный и богатый опыт говорит нам, что внедрение.
          +buttonPrimary({
              link: '#',
              text: 'Подробнее'
            }, 'btn-small index__btn')
      .index__cards-item.index__cards-item_fluid
        .index__cards-item-left
          +icon('icon-big', 'focus')
          p.index__cards-item-header Повышение осведомленности
        +icon('index__cards-item-chevron', 'chevron')
        .index__cards-item-right
          p.index__cards-item-header Разработка и дизайн интерактивных курсов по индивидуальным задачам
          p.index__cards-item-header Разработка и дизайн обучающих материалов
          p.index__cards-item-header Портал – комплексные проекты
  +screenConsult('Заказать <br/> бесплатную консультацию', './assets/img/man.png')
  section.index__company
    +wrapper(slug)
      h2.h2.index__heading.index__company-header
        |Компания
        span.inherit-size.inherit-weight  Engineer
      .index__company-card
        p.index__company-card-header 30+
        p.index__company-card-descr
          | Выполненных проектов по
          br
          | ISO27001 за последние 5 лет
      .index__company-card
        p.index__company-card-header 85%
        p.index__company-card-descr
          | Компаний заключили договор
          br
          | на продление сотрудничества
      .index__company-card
        p.index__company-card-header 20 лет
        p.index__company-card-descr
          | В сфере ИБ
  include ../../components/screen/screenPartners
  include ../../components/screen/screenCallback
  include ../../components/screen/screenProjects
