extends ../../layout/main

block variables
  - title = 'Engeneer';
  - description = '';
  - theme = '#e10303';
  - slug = 'news';
  - pageClass = slug + '-page';

block content
  section.news__section
    +wrapper(slug)
      +breadcrumbs(
        [{
          link: '/news.html',
          name: 'Наши публикации'
        }]
      )
      h2.news__header.h2 Наши публикации
  .news__fluid
    +fluid(
      'Таким образом, убеждённость <br /> некоторых оппонентов однозначно',
      ['Определяет каждого участника как способного принимать собственные решения касаемо дальнейших направлений развития. '],
      [{
        type: 'simple',
        link: '/article.html',
        text: 'Читать далее',
        class: 'text-small news-link'
      }]
    )
      +pic('', './assets/img/news-preview.jpg')
    +fluid(
      'Таким образом, убеждённость <br /> некоторых оппонентов однозначно',
      ['Определяет каждого участника как способного принимать собственные решения касаемо дальнейших направлений развития. '],
      [{
        type: 'simple',
        link: '/article.html',
        text: 'Читать далее',
        class: 'text-small news-link'
      }]
    )
      +pic('', './assets/img/news-preview.jpg')
    +fluid(
      'Таким образом, убеждённость <br /> некоторых оппонентов однозначно',
      ['Определяет каждого участника как способного принимать собственные решения касаемо дальнейших направлений развития. '],
      [{
        type: 'simple',
        link: '/article.html',
        text: 'Читать далее',
        class: 'text-small news-link'
      }]
    )
      +pic('', './assets/img/news-preview.jpg')
    +fluid(
      'Таким образом, убеждённость <br /> некоторых оппонентов однозначно',
      ['Определяет каждого участника как способного принимать собственные решения касаемо дальнейших направлений развития. '],
      [{
        type: 'simple',
        link: '/article.html',
        text: 'Читать далее',
        class: 'text-small news-link'
      }]
    )
      +pic('', './assets/img/news-preview.jpg')
    +fluid(
      'Таким образом, убеждённость <br /> некоторых оппонентов однозначно',
      ['Определяет каждого участника как способного принимать собственные решения касаемо дальнейших направлений развития. '],
      [{
        type: 'simple',
        link: '/article.html',
        text: 'Читать далее',
        class: 'text-small news-link'
      }]
    )
      +pic('', './assets/img/news-preview.jpg')
    +fluid(
      'Таким образом, убеждённость <br /> некоторых оппонентов однозначно',
      ['Определяет каждого участника как способного принимать собственные решения касаемо дальнейших направлений развития. '],
      [{
        type: 'simple',
        link: '/article.html',
        text: 'Читать далее',
        class: 'text-small news-link'
      }]
    )
      +pic('', './assets/img/news-preview.jpg')
  include ../../components/pagination/pagination
