@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.about {
  @include media-breakpoint-between(0, xs) {
    padding-right: rem(10);
    padding-left: rem(10);
  }

  padding: rem(45) 0;

  &__container {
    @include make-grid-container($grid-desktop, $grid-desktop-gap-col);
    @include media-breakpoint-between(0, xs) {
      @include make-grid-container(1, $grid-desktop-gap-col);
    }

    position: relative;
    z-index: 1;
  }

  &__heading {
    @include make-col-fluid();

    text-align: center;

    span {
      color: $red;
    }

    &.h1 {
      @include media-breakpoint-down(lg) {
        margin-bottom: rem(8);
      }

      margin-bottom: rem(16);
    }

    &.h2 {
      @include media-breakpoint-down(lg) {
        margin-bottom: rem(20);
      }

      margin-bottom: rem(40);
      text-transform: uppercase;
    }
  }

  &__text {
    @include make-col-fluid();
  }

  &__mission {
    @include make-col-fluid();
    @include media-breakpoint-down(lg) {
      grid-template-columns: 100%;
    }
    @include media-breakpoint-between(sm, lg) {
      grid-auto-rows: rem(300);
    }
    @include media-breakpoint-between(0, xs) {
      grid-auto-rows: minmax(10%, 20%);
    }

    display: grid;
    grid-template-rows: rem(150);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: rem(300);

    &-header {
      @include make-col-fluid();
      @include media-breakpoint-between(0, xs) {
        padding-right: rem(10);
        padding-left: rem(10);
      }

      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f7f7f9;
      color: $red;
    }

    .text-big {
      @include media-breakpoint-between(0, xs) {
        padding-right: rem(10);
        padding-left: rem(10);
      }

      display: flex;
      align-items: center;
    }

    &-middle {
      @include media-breakpoint-down(lg) {
        padding: rem(10);
      }

      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: rem(50);
      background-color: #f7f7f9;
    }

    &-pic {
      width: 100%;
      height: 100%;

      img {
        @include media-breakpoint-down(lg) {
          object-position: top center;
        }

        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: left center;
      }

      &_wide {
        @include make-col-size(2);
        @include media-breakpoint-up(lg) {
          ~ .text-big {
            padding-left: rem(30);
          }
        }
        @include media-breakpoint-down(lg) {
          @include make-col-fluid();

          grid-row: 6 / 6;
        }
      }
    }
  }

  &__feedback {
    @include media-breakpoint-between(0, xs) {
      padding-right: rem(10);
      padding-left: rem(10);
    }
  }

  &__leave {
    @include media-breakpoint-between(0, md) {
      padding-right: rem(10);
      padding-left: rem(10);
    }

    position: relative;
    z-index: 1;
    padding: rem(45) 0 rem(50);

    .container {
      @include media-breakpoint-between(0, md) {
        grid-template-columns: 100%;
      }

      grid-template-columns: repeat(2, 1fr);
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      display: block;
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
        height: 100%;
      }
    }

    &-pic {
      @include media-breakpoint-down(md) {
        display: none;
      }

      max-height: rem(420);

      img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-height: rem(420);
        object-position: center;
      }
    }

    &-form {
      @include make-grid-container(2, 10px, 16px);
      @include media-breakpoint-between(0, md) {
        grid-template-columns: 100%;
      }

      width: 100%;

      textarea,
      p {
        @include make-col-fluid();
      }

      &-wrapper {
        @include media-breakpoint-between(0, xs) {
          margin-top: rem(20);
        }

        .h2 {
          margin-bottom: rem(10);
        }

        .text-big {
          margin-bottom: rem(25);
        }

        button {
          max-width: 100%;
        }
      }
    }
  }
}
