extends ../layout/main

block variables
  - title = 'Engeneer';
  - description = '';
  - slug = 'index'
  - pageClass = slug + '-page';

block content
  section.index__banner
    +pic('index__banner-bg', './assets/img/back-main.jpg')
    +wrapper(slug)
      h1.index__header Внедрение ISO/IEC 27001
      button.btn.index__btn Бесплатная консультация
