// utils
@use 'src/scss/utils/utils' as *;
// components
@use 'src/views/modules/header/header';
@use 'src/views/modules/toolbar/toolbar';

.index {
  &__container {
    position: relative;
    @include make-grid-container($grid-desktop, $grid-desktop-gap-col);
    @include make-grid-container-max-widths(
      $max-widths: $container-max-widths,
      $breakpoints: $grid-breakpoints
    );
    z-index: 1;
  }

  &__banner {
    position: relative;
    padding: rem(125) 0 rem(130);

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 0;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__header {
    @include make-col-size(4, 1);
    @include font-size(55);
  }

  &__btn {
    @include make-col-size(4, 1);
    @include make-new-grid-row(2);
    display: block;
    width: 100%;
    padding: rem(10) 0;
    border-radius: 3px;
    background-color: $red;
    @include font-size(20);
    color: $white;
  }
}
