extends ../../layout/main

block variables
  - title = 'Engeneer';
  - description = '';
  - theme = '#e10303';
  - slug = 'search';
  - pageClass = slug + '-page';

block content
  section.search__section
    +wrapper(slug)
      +breadcrumbs(
        [{
          link: '#',
          name: 'Результат поиска'
        }]
      )
      h2.search__header.h2#search-header Поиск
      +formSearch('search__form')
      .search__result-wrapper#search-result
        a.search__result-item(href="/article.html")
          article
            time(pubdate='12.12.12').text-small 12.12.12
            h2.text-big С другой стороны, синтетическое тестирование
            p.text-small Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий не оставляет шанса для поэтапного и последовательного развития общества. Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет.
        a.search__result-item(href="/article.html")
          article
            time(pubdate='12.12.12').text-small 12.12.12
            h2.text-big С другой стороны, синтетическое тестирование
            p.text-small Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий не оставляет шанса для поэтапного и последовательного развития общества. Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет.
        a.search__result-item(href="/article.html")
          article
            time(pubdate='12.12.12').text-small 12.12.12
            h2.text-big С другой стороны, синтетическое тестирование
            p.text-small Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий не оставляет шанса для поэтапного и последовательного развития общества. Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет.
        a.search__result-item(href="/article.html")
          article
            time(pubdate='12.12.12').text-small 12.12.12
            h2.text-big С другой стороны, синтетическое тестирование
            p.text-small Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий не оставляет шанса для поэтапного и последовательного развития общества. Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет.
        a.search__result-item(href="/article.html")
          article
            time(pubdate='12.12.12').text-small 12.12.12
            h2.text-big С другой стороны, синтетическое тестирование
            p.text-small Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий не оставляет шанса для поэтапного и последовательного развития общества. Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет.
        a.search__result-item(href="/article.html")
          article
            time(pubdate='12.12.12').text-small 12.12.12
            h2.text-big С другой стороны, синтетическое тестирование
            p.text-small Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий не оставляет шанса для поэтапного и последовательного развития общества. Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет.
        a.search__result-item(href="/article.html")
          article
            time(pubdate='12.12.12').text-small 12.12.12
            h2.text-big С другой стороны, синтетическое тестирование
            p.text-small Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий не оставляет шанса для поэтапного и последовательного развития общества. Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет.
        a.search__result-item(href="/article.html")
          article
            time(pubdate='12.12.12').text-small 12.12.12
            h2.text-big С другой стороны, синтетическое тестирование
            p.text-small Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий не оставляет шанса для поэтапного и последовательного развития общества. Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет.
        a.search__result-item(href="/article.html")
          article
            time(pubdate='12.12.12').text-small 12.12.12
            h2.text-big С другой стороны, синтетическое тестирование
            p.text-small Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий не оставляет шанса для поэтапного и последовательного развития общества. Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет.
        a.search__result-item(href="/article.html")
          article
            time(pubdate='12.12.12').text-small 12.12.12
            h2.text-big С другой стороны, синтетическое тестирование
            p.text-small Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий не оставляет шанса для поэтапного и последовательного развития общества. Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет.
        include ../../components/pagination/pagination
