@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.fluid {
  @include media-breakpoint-up(xl) {
    grid-template-columns: 50% 50%;
    gap: 0;

    &:nth-child(even) {
      .fluid {
        &-descr {
          grid-row-start: 1;
          grid-row-end: 1;
          grid-column-start: 1;
          grid-column-end: 1;
          align-items: flex-end;
          padding-right: rem(30);
          padding-left: rem(10);
          text-align: right;
        }

        &-pic {
          grid-row-start: 1;
          grid-row-end: 1;
          grid-column-start: 2;
          grid-column-end: 2;
        }
      }
    }
  }
  @include media-breakpoint-down(lg) {
    @include make-grid-container(1, $grid-desktop-gap-col);
    @include make-grid-container-max-widths();

    grid-template-columns: 100%;
    gap: rem(15);
    width: 100%;
    margin-bottom: rem(15);
  }

  display: grid;

  &-descr {
    @include media-breakpoint-down(lg) {
      padding: 0;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: rem(10);
    padding-left: rem(30);

    &-buttons {
      @include media-breakpoint-down(sm) {
        grid-template-columns: 100%;
        gap: rem(15);
        margin-top: rem(15);
      }

      display: grid;
      grid-template-columns: minmax(auto, rem(300)) minmax(auto, rem(215));
      gap: 0 rem(36);
      margin-top: rem(48);
    }

    .fluid-text ~ .fluid-text {
      margin-top: rem(16);
    }
  }

  &-pic {
    width: 100%;
  }

  &-header {
    margin-bottom: rem(14);
  }
}
