mixin fluid(header, descr, buttons)
  - descr = descr
  .fluid
    .fluid-pic
      if block
        block
    .fluid-descr
      if (header.type && header.type === 'link')
        a.fluid-header.h2(href=header.link) !{header.text}
      else
        h2.fluid-header.h2 !{header}
      if descr
        each item in descr
          p.fluid-text.text-big !{item}
      if buttons
        .fluid-descr-buttons
          each button in buttons
            - cls = button.class || false
            if button.type === 'primary'
              +buttonPrimary({
                link: button.link,
                text: button.text,
              }, cls)
            else if button.type === 'secondary'
              +buttonSecondary({
                link: button.link,
                text: button.text,
              }, cls)
            else
              +buttonSimple({
                link: button.link,
                text: button.text,
              }, cls)
