extends ../../layout/main

block variables
  - title = 'Engeneer';
  - description = '';
  - slug = 'services'
  - pageClass = slug + '-page';

block content
  section.services__section
    +wrapper(slug)
      +breadcrumbs(
        [{
          link: '/',
          name: 'Главная'
        },
        {
          link: '#',
          name: 'Повышение осведомленности'
        }]
      )
      h2.services__header.h2 Повышение осведомленности
  .services__fluid
    +fluid(
      'Разработка и дизайн <br/> интерактивных курсов',
      ['Уникальная услуга по разработке электронных дистанционных курсов по актуальным для вас темам. Педагогический дизайн. AGILE подход и авторские методики от сертифицированных международными органами по стандартизации  специалистов-практиков'],
      [{
          type: 'primary',
          link: '#',
          text: 'Бесплатная консультация',
          class: 'text-big'
        },{
          type: 'secondary',
          link: '#',
          text: 'Подробнее',
          class: 'text-big'
        }]
    )
      include ../../components/slider/sliderFluid
    +fluid(
      'Памятки, руководства, скринсейверы <br/> видеоролики, плакаты и другие <br/> обучающие материалы',
      false,
      [{
          type: 'primary',
          link: '#',
          text: 'Бесплатная консультация',
          class: 'text-big'
        },{
          type: 'secondary',
          link: '#',
          text: 'Подробнее',
          class: 'text-big'
      }]
    )
      include ../../components/slider/sliderFluid
    +fluid(
      'Разработка и внедрение внтуреннего <br/> портала по повышению уровня <br/> осведомленности сотрудников',
      ['Обеспечение оперативного доступа к большому количеству информации, своевременные коммуникации с ответственными лицами из различных подразделений, управление задачами  и другие функции в брендированной usability оболочке'],
      [{
          type: 'primary',
          link: '#',
          text: 'Бесплатная консультация',
          class: 'text-big'
        },{
          type: 'secondary',
          link: '#',
          text: 'Подробнее',
          class: 'text-big'
      }]
    )
      include ../../components/slider/sliderFluid
    +fluid(
      'Семинары, игры и тренинги по <br /> индивидуальным сценариям',
      [
      'Интерактивные методики проведения обучающих <br/> мероприятий и отсутствие шаблонных схем <br/> подачи информации делают наши курсы увлекательными, <br/> благодаря чему сотрудники легко и качественно <br/> усваивают информацию, а Заказчик получает ощутимую <br/> практическую пользу.',
      'Для достижения наилучшего результата <br/> перед началом обучения мы:'
      ],
    )
      include ../../components/slider/sliderFluid
  .services__row
    +wrapper()
      .services__row-wrapper
        +icon('icon', 'check')
        p.text-big Тщательно знакомимся с особенностями целевой аудитории определяем цели курсов
  .services__row
    +wrapper()
      .services__row-wrapper
        +icon('icon', 'check')
        p.text-big Разрабатываем и адаптируем учебный материал под задачи Заказчика
  .services__row
    +wrapper()
      .services__row-wrapper
        +icon('icon', 'check')
        p.text-big Проектируем актуальный контекст обучения
  .services__row
    +wrapper()
      .services__row-wrapper
        +icon('icon', 'check')
        p.text-big Создаем интерактивные учебные материалы
  .services__row
    +wrapper()
      .services__row-wrapper
        +icon('icon', 'check')
        p.text-big С помощью вовлекающих методки стимулируем самостоятельный поиск новых знаний
  .services__row
    +wrapper()
      .services__row-wrapper
        +icon('icon', 'check')
        p.text-big Обеспечиваем обратную связь в процессе и по итогам обучения
  .services__row
    +wrapper()
      .services__row-wrapper
        +icon('icon', 'check')
        p.text-big Мотивируем сотрудников к применению полученных знаний на практике
  .services__buttons
    +wrapper()
      .services__buttons-wrapper
        +buttonPrimary({
            link: '#',
            text: 'Бесплатная консультация'
          }, 'text-big')
        +buttonSecondary({
            link: '#',
            text: 'Подробнее'
          }, 'text-big')
  include ../../components/screen/screenPartners
  include ../../components/screen/screenProjects
  include ../../components/screen/screenAlso
