extends ../../layout/main

block variables
  - title = 'Engeneer';
  - description = '';
  - slug = 'services'
  - pageClass = slug + '-page';

block content
  section.sevrices__section
    +wrapper(slug)
      +breadcrumbs(
        [{
          link: '/',
          name: 'Главная'
        },
        {
          link: '#',
          name: 'Повышение осведомленности'
        }]
      )
      h2.services__header.h2 Повышение осведомленности
  .services__fluid
    .services__fluid-container
      .services__fluid-slider
        include ../../components/slider/sliderFluid
      .services__fluid-descr
        h2.services__fluid-header.h2
          | Разработка и дизайн
          br
          | интерактивных курсов
        p.services__fluid-text.text-big Уникальная услуга по разработке электронных дистанционных курсов по актуальным для вас темам. Педагогический дизайн. AGILE подход и авторские методики от сертифицированных международными органами по стандартизации  специалистов-практиков
        .services__fluid-descr-buttons
          +buttonPrimary({
            link: '#',
            text: 'Бесплатная консультация'
          }, 'text-big')
          +buttonSecondary({
            link: '#',
            text: 'Подробнее'
          }, 'text-big')
    .services__fluid-container
      .services__fluid-slider
        include ../../components/slider/sliderFluid
      .services__fluid-descr
        h2.services__fluid-header.h2
          | Памятки, руководства, скринсейверы,
          br
          | видеоролики, плакаты и другие
          br
          | обучающие материалы
        .services__fluid-descr-buttons
          +buttonPrimary({
            link: '#',
            text: 'Бесплатная консультация'
          }, 'text-big')
          +buttonSecondary({
            link: '#',
            text: 'Подробнее'
          }, 'text-big')
    .services__fluid-container
      .services__fluid-slider
        include ../../components/slider/sliderFluid
      .services__fluid-descr
        h2.services__fluid-header.h2
          | Разработка и внедрение внтуреннего
          br
          | портала по повышению уровня
          br
          | осведомленности сотрудников
        p.services__fluid-text.text-big Обеспечение оперативного доступа к большому количеству информации, своевременные коммуникации с ответственными лицами из различных подразделений, управление задачами  и другие функции в брендированной usability оболочке
        .services__fluid-descr-buttons
          +buttonPrimary({
            link: '#',
            text: 'Бесплатная консультация'
          }, 'text-big')
          +buttonSecondary({
            link: '#',
            text: 'Подробнее'
          }, 'text-big')
    .services__fluid-container
      .services__fluid-slider
        include ../../components/slider/sliderFluid
      .services__fluid-descr
        h2.services__fluid-header.h2
          | Семинары, игры и тренинги по
          br
          | индивидуальным сценариям
        p.services__fluid-text.text-big
          | Интерактивные методики проведения обучающих
          br
          | мероприятий и отсутствие шаблонных схем
          br
          | подачи информации делают наши курсы увлекательными,
          br
          | благодаря чему сотрудники легко и качественно
          br
          | усваивают информацию, а Заказчик получает ощутимую
          br
          | практическую пользу.
        p.services__fluid-text.text-big
          | Для достижения наилучшего результата
          br
          |перед началом обучения мы:
        .services__fluid-descr-buttons
          +buttonPrimary({
            link: '#',
            text: 'Бесплатная консультация'
          }, 'text-big')
          +buttonSecondary({
            link: '#',
            text: 'Подробнее'
          }, 'text-big')
  .services__row
    +wrapper()
      .services__row-wrapper
        +icon('icon', 'check')
        p.text-big Тщательно знакомимся с особенностями целевой аудитории определяем цели курсов
  .services__row
    +wrapper()
      .services__row-wrapper
        +icon('icon', 'check')
        p.text-big Разрабатываем и адаптируем учебный материал под задачи Заказчика
  .services__row
    +wrapper()
      .services__row-wrapper
        +icon('icon', 'check')
        p.text-big Проектируем актуальный контекст обучения
  .services__row
    +wrapper()
      .services__row-wrapper
        +icon('icon', 'check')
        p.text-big Создаем интерактивные учебные материалы
  .services__row
    +wrapper()
      .services__row-wrapper
        +icon('icon', 'check')
        p.text-big С помощью вовлекающих методки стимулируем самостоятельный поиск новых знаний
  .services__row
    +wrapper()
      .services__row-wrapper
        +icon('icon', 'check')
        p.text-big Обеспечиваем обратную связь в процессе и по итогам обучения
  .services__row
    +wrapper()
      .services__row-wrapper
        +icon('icon', 'check')
        p.text-big Мотивируем сотрудников к применению полученных знаний на практике
  .services__buttons
    +wrapper()
      .services__buttons-wrapper
        +buttonPrimary({
            link: '#',
            text: 'Бесплатная консультация'
          }, 'text-big')
        +buttonSecondary({
            link: '#',
            text: 'Подробнее'
          }, 'text-big')
  include ../../components/screen/screenPartners
  include ../../components/screen/screenProjects
  include ../../components/screen/screenAlso
