extends ../../layout/main

block variables
  - title = 'Engeneer';
  - description = '';
  - theme = '#e10303';
  - slug = 'implement'
  - pageClass = slug + '-page';

block content
  section.implement
    +wrapper(slug)
      +breadcrumbs(
        [{
          link: '/',
          name: 'Главная'
        },
        {
          link: '#',
          name: 'Управление информационной безопасностью'
        },
        {
          link: '#',
          name: 'Внедрение системы управления'
        }]
      )
  .implement__fluid
    +fluid(
      'Внедрение ISO/IEC 27001',
      ['Внедрение системы управления информационной безопасностью и подготовка к сертификации по требованиям международного стандарта ISO/IEC 27001:2013']
    )
      include ../../components/slider/sliderFluid
    +wrapper(slug)
      p.implement__text_box.text-big Внедряем системы управления информационной безопасностью на экспертном уровне. В результате выполненных работ по СУИБ организация будет готова к прохождению сертификационного аудита  со стороны любого международного органа по сертификации, предъявляющего самые строгие требования в ходе проверки. Результаты нашей работы проходят успешную сертификацию со стороны таких органов по сертификации, как BSI, Bureau Veritas, TUV Austria.
  .implement__accordion_wrapper
    +wrapper(slug)
      h2.implement__accordion-header.h2 Система управления информационной безопасностью (СУИБ) - Информация
      .implement__accordion.is-collapsed
        p.text-big часть системы управления организацией, объединяющая все применяемые организационные и технические меры информационной безопасности в единый комплекс часть системы управления организацией, объединяющая все применяемые организационные и технические меры информационной безопасности в единый комплекс часть системы управления организацией, объединяющая все применяемые организационные и технические меры информационной безопасности в единый комплекс
        a.implement__accordion_trigger(href="javascript:void(0);")
          +icon('implement__accordion-icon', 'chevron_down')
  .implement__works
    +wrapper(slug)
      h2.implement__heading.h2 Состав работ по внедрению СУИБ
      .implement__works-list
        .implement__works-list-item
          p.implement__works-list-counter 1
          p.text-big проведение анализа соответствия требованиям стандарта ISO/IEC 27001:2013 для выбранной области охвата, планирование мероприятий по приведению в соответствие;
        .implement__works-list-item
          p.implement__works-list-counter 2
          p.text-big проведение анализа рисков ИБ – разработка методики, сбор информации об активах (в том числе видах обрабатываемой информации), моделирование угроз, оценка рисков, разработка плана обработки рисков и заявления о применимости (Statement of Applicability), формализация среднесрочных целей по ИБ;
        .implement__works-list-item
          p.implement__works-list-counter 3
          p.text-big разработка нормативной документации по процессам ИБ;
        .implement__works-list-item
          p.implement__works-list-counter 4
          p.text-big поддержка при внедрении новых процессов ИБ и изменений в существующих процессах;
        .implement__works-list-item
          p.implement__works-list-counter 5
          p.text-big подтверждение функционирования СУИБ в ходе эксплуатации в течение надлежащего срока, накопление документированных свидетельств (записей);
        .implement__works-list-item
          p.implement__works-list-counter 6
          p.text-big проведение предсертификационного аудита СУИБ с последующим выходом на сертификацию.






  +screenConsult('Заказать <br/> бесплатную консультацию', './assets/img/man.png')
  .implement__fluid.mt
    +fluid(
      'Сопровождение <br /> ДО, ВО ВРЕМЯ и ПОСЛЕ аудита',
      ['При прохождении сертификационного и надзорного аудитов, организации требуется экспертная поддержка как в момент проведения мероприятия, так и при анализе сделанного органом по сертификации заключения.',
      'Необходимым документом является грамотный План корректирующих действий по устранению выявленных незначительных несоответствий.'],
      [{
        type: 'primary',
        link: '#',
        text: 'Оставить заявку',
        class: 'text-big'
      }]
    )
      +pic('implement__pic', './assets/img/imp-1.jpg')
    +fluid(
      'Поддержка СУИБ между аудитами ',
      ['В интервале между аудитами организация должна выполнить ряд обязательных мероприятий как для поддержания работоспособности СУИБ, так для ее совершенствования, и предоставить соответствующие документированные свидетельства. Как и на этапе внедрения, поддержка функционирования СУИБ требует соответствующей экспертизы ответственных специалистов, которые должны активно работать по этому направлению.']
    )
      +pic('implement__pic', './assets/img/imp-2.jpg')
    +fluid(
      'Модернизация СУИБ ',
      ['Компания Engineer предоставляет услуги по модернизации СУИБ, построенной в соответствии с версией ISO 27001:2005, до версии ISO 27001:2013']
    )
      +pic('implement__pic', './assets/img/imp-3.jpg')
  include ../../components/screen/screenProjects
  +screenConsult('Заказать услуги по внедрению системы управления информационной безопасностью', './assets/img/women.png')
  section.implement__standart
    +wrapper(slug)
      h2.implement__heading.h2 Расширения международного стандарта ISO/IEC 27001:2013
      p.implement__standart-text.text-big Международный стандарт ISO/IEC 27001:2013 является универсальным и применим к деятельности организации любого размера из любой отрасли. В дополнение к нему разработан ряд стандартов, содержащих дополнительные, специфические требования для  определённых видов деятельности.
      p.implement__standart-text.text-big Компании  Engineer оказывает услуги по подготовке к сертификации по указанным стандартам:
      .implement__standart-wrapper
        .implement__standart-item
          p.implement__standart-header ISO/IEC 27017:2015 –
          p.implement__standart-descr.text-big дополнительные требования по защите облачных сервисов;
        .implement__standart-item
          p.implement__standart-header ISO/IEC 27018:2019 –
          p.implement__standart-descr.text-big дополнительные требования при обработке персональных данных с использованием публичных облаков;
        .implement__standart-item
          p.implement__standart-header ISO/IEC 27701:2019 –
          p.implement__standart-descr.text-big дополнительные требования по организации системы защиты персональных данных, этот стандарт в полной мере учитывает требования европейского законодательства по защите персональных данных (GDPR)
  include ../../components/screen/screenAlso
