extends ../../layout/main

block variables
  - title = 'Engeneer';
  - description = '';
  - slug = 'implement'
  - pageClass = slug + '-page';

block content
  section.implement
    +wrapper(slug)
      +breadcrumbs(
        [{
          link: '/',
          name: 'Главная'
        },
        {
          link: '#',
          name: 'Управление информационной безопасностью'
        },
        {
          link: '#',
          name: 'Внедрение системы управления'
        }]
      )
  .implement__fluid
    +fluid(
      'Внедрение ISO/IEC 27001',
      ['Внедрение системы управления информационной безопасностью и подготовка к сертификации по требованиям международного стандарта ISO/IEC 27001:2013']
    )
      include ../../components/slider/sliderFluid
    +wrapper(slug)
      p.implement__text_box.text-big Внедряем системы управления информационной безопасностью на экспертном уровне. В результате выполненных работ по СУИБ организация будет готова к прохождению сертификационного аудита  со стороны любого международного органа по сертификации, предъявляющего самые строгие требования в ходе проверки. Результаты нашей работы проходят успешную сертификацию со стороны таких органов по сертификации, как BSI, Bureau Veritas, TUV Austria.
  include ../../components/screen/screenConsult
  .implement__fluid
    +fluid(
      'Сопровождение <br /> ДО, ВО ВРЕМЯ и ПОСЛЕ аудита',
      ['При прохождении сертификационного и надзорного аудитов, организации требуется экспертная поддержка как в момент проведения мероприятия, так и при анализе сделанного органом по сертификации заключения.',
      'Необходимым документом является грамотный План корректирующих действий по устранению выявленных незначительных несоответствий.'],
      [{
        type: 'primary',
        link: '#',
        text: 'Оставить заявку',
        class: 'text-big'
      }]
    )
      +pic('implement__pic', './assets/img/imp-1.jpg')
    +fluid(
      'Поддержка СУИБ между аудитами ',
      ['В интервале между аудитами организация должна выполнить ряд обязательных мероприятий как для поддержания работоспособности СУИБ, так для ее совершенствования, и предоставить соответствующие документированные свидетельства. Как и на этапе внедрения, поддержка функционирования СУИБ требует соответствующей экспертизы ответственных специалистов, которые должны активно работать по этому направлению.']
    )
      +pic('implement__pic', './assets/img/imp-2.jpg')
    +fluid(
      'Модернизация СУИБ ',
      ['Компания Engineer предоставляет услуги по модернизации СУИБ, построенной в соответствии с версией ISO 27001:2005, до версии ISO 27001:2013']
    )
      +pic('implement__pic', './assets/img/imp-3.jpg')
  include ../../components/screen/screenProjects
  include ../../components/screen/screenAlso
