@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

@import 'node_modules/hamburgers/_sass/hamburgers/hamburgers';

.toolbar {
  @include media-breakpoint-between(0, sm) {
    padding-right: rem(10);
    padding-left: rem(10);

    .toolbar__container {
      height: 0;
      padding: 0;
      transform: scaleY(0);
    }

    &.is-active {
      .toolbar__container {
        height: 100%;
        transform: scaleY(1);
      }
    }
  }

  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f2f2f2;

  &__container {
    @include make-grid-container-max-widths();
    @include make-container();
    @include media-breakpoint-up(md) {
      height: 100%;
      transform: scaleY(1);
    }
    @include media-breakpoint-between(0, sm) {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 0;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(10) 0;
    transition: all 0.5s ease;
    transform-origin: top;
  }

  &__item {
    @include media-breakpoint-up(sm) {
      &:hover {
        cursor: pointer;

        .toolbar__item {
          &-dropdown {
            display: flex;
          }

          &-descr {
            color: $red;
          }
        }

        .icon {
          fill: $red;
        }
      }
    }
    @include media-breakpoint-between(0, xs) {
      &:hover {
        cursor: pointer;

        .toolbar__item {
          &-descr {
            color: $red;
          }
        }

        .icon {
          fill: $red;
        }
      }
    }

    position: relative;

    &.is-search {
      @include media-breakpoint-between(0, sm) {
        .toolbar__item-descr {
          flex-direction: row-reverse;
        }
      }

      .toolbar__item-descr {
        display: flex;
        align-items: flex-end;
      }

      &.is-active {
        input {
          width: 200px;
          opacity: 1;
        }
      }

      input {
        @include font-size(12);
        @include media-breakpoint-between(0, sm) {
          position: relative;
          top: -4px;
          right: unset;
          bottom: unset;
          border: unset;
          border-bottom: 1px solid #000;
        }

        position: absolute;
        right: 0;
        bottom: -45px;
        display: block;
        width: 0;
        padding: rem(6);
        border: 5px solid #f2f2f2;
        // border-bottom: 1px solid #000;
        background-color: #f2f2f2;
        color: #313638;
        opacity: 0;

        &::placeholder {
          color: #313638;
        }
      }
    }

    .icon {
      fill: $black;
    }

    &.is-active {
      @include media-breakpoint-between(0, xs) {
        .toolbar__item-dropdown {
          height: 100%;
          padding: rem(10);
          transform: scaleY(1);
        }
      }

      .toolbar__item-descr {
        color: $red;
      }

      .icon {
        fill: $red;
      }
    }

    &-descr {
      @include font-size(20);

      color: $black;
    }

    &-dropdown {
      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
      @include media-breakpoint-between(0, xs) {
        position: relative;
        z-index: 0;
        display: flex;
        height: 0;
        padding: 0;
        white-space: normal;
        transform: scaleY(0);
        transform-origin: top;
      }

      position: absolute;
      left: 0;
      z-index: 99;
      display: none;
      padding: rem(34) rem(32);
      background-color: #f2f2f2;
      white-space: nowrap;
      transition: all 0.5s ease;

      &-header {
        @include font-size(20);

        display: block;
        color: #313638;

        &:hover {
          color: $red;
        }
      }

      &-block {
        &:first-child {
          @include media-breakpoint-between(sm, md) {
            margin-bottom: rem(40);
            padding-right: 0;
            border-right: 0;
          }
          @include media-breakpoint-between(0, xs) {
            margin-bottom: rem(10);
          }

          padding-right: rem(50);
          border-right: 1px solid #e8e9eb;
        }

        &:last-child {
          @include media-breakpoint-down(md) {
            margin-bottom: 0;
          }

          padding-right: 0;
          border: 0;
        }

        ~ div {
          @include media-breakpoint-down(md) {
            padding-left: 0;
          }

          padding-left: rem(50);

          .toolbar__item-dropdown-menu ~ .toolbar__item-dropdown-header {
            @include media-breakpoint-between(0, xs) {
              margin-top: rem(10);
            }

            margin-top: rem(40);
          }
        }
      }

      &-menu {
        @include media-breakpoint-between(0, xs) {
          padding-left: rem(10);
        }

        display: flex;
        flex-direction: column;
        padding-top: rem(8);
      }

      &-link {
        @include font-size(14);

        display: block;
        margin-bottom: rem(12);
        color: #313638;

        &:hover {
          color: $red;
        }
      }
    }
  }

  &__mobile {
    &-trigger {
      @include media-breakpoint-up(md) {
        display: none;
      }
      @include media-breakpoint-between(0, sm) {
        &:hover,
        &:focus {
          outline: 0;
        }
      }
    }
  }
}
