@use 'src/scss/utils/utils' as *;

.toolbar {
  background-color: #f9f9f9;

  &__container {
    @include make-grid-container-max-widths();
    @include make-container();

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  &__item {
    position: relative;

    &:hover {
      cursor: pointer;

      .toolbar__item {
        &-dropdown {
          display: flex;
        }

        &-descr {
          color: $red;
        }
      }
    }

    &-descr {
      @include font-size(20);

      color: $black;
    }

    &-dropdown {
      position: absolute;
      left: 0;
      z-index: 99;
      display: none;
      padding: rem(34) rem(32);
      background-color: $grayBg;
      white-space: nowrap;

      &-header {
        @include font-size(20);
      }

      &-block {
        &:first-child {
          padding-right: rem(50);
          border-right: 1px solid #e8e9eb;
        }

        &:last-child {
          padding-right: 0;
          border: 0;
        }

        ~ div {
          padding-left: rem(50);

          .toolbar__item-dropdown-menu ~ .toolbar__item-dropdown-header {
            margin-top: rem(40);
          }
        }
      }

      &-menu {
        display: flex;
        flex-direction: column;
        padding-top: rem(8);
      }

      &-link {
        @include font-size(12);

        display: block;
        margin-bottom: rem(12);
        color: #313638;

        &:hover {
          color: $red;
        }
      }
    }
  }
}
