.toolbar
  +wrapper('toolbar')
    .toolbar__item
      p.toolbar__item-descr Услуги
    .toolbar__item
      p.toolbar__item-descr Повышение осведомленности
    .toolbar__item
      p.toolbar__item-descr О нас
    .toolbar__item
      p.toolbar__item-descr Контакты
    .toolbar__item
      +icon('icon', 'loop')
