// utils

@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.breadcrumbs {
  &__wrapper {
    @include media-breakpoint-between(0, xs) {
      padding-right: rem(10);
      padding-left: rem(10);
    }
    @include make-col-fluid();

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: rem(30) 0 rem(24);
  }

  &__item {
    @include font-size(16);

    display: flex;
    margin-right: 5px;
    color: #313638;

    &:not(a) {
      cursor: default;
    }
  }

  &__separator {
    @include font-size(16);

    display: flex;
    margin-right: 5px;
    color: #313638;
    cursor: default;
  }
}
