extends ../../layout/main

block variables
  - title = 'Engeneer';
  - description = '';
  - theme = '#e10303';
  - slug = 'article';
  - pageClass = slug + '-page';

block content
  article.article
    +wrapper(slug)
      +breadcrumbs(
        [{
          link: '/news.html',
          name: 'Наши публикации'
        },{
          link: '/article.html',
          name: 'Публикация'
        }]
      )
      h2.article__header.h2 Публикация, с каким то названием
      time.article__date.text-small(pubdate='12.12.2020') Дата публикации: 12.12.2020 г
    +pic('article__banner', './assets/img/news-banner.jpg')
    +wrapper(slug)
      .article__body
        h2 Таким образом, убеждённость некоторых оппонентов однозначно
        p Определяет каждого участника как способного принимать собственные решения касаемо дальнейших направлений развития.
        p Предварительные выводы неутешительны: консультация с широким активом способствует повышению качества глубокомысленных рассуждений. Для современного мира граница обучения кадров выявляет срочную потребность системы массового участия. Тщательные исследования конкурентов призывают нас к новым свершениям, которые, в свою очередь, должны быть обнародованы! Следует отметить, что синтетическое тестирование однозначно фиксирует необходимость соответствующих условий активизации. Есть над чем задуматься: диаграммы связей в равной степени предоставлены сами себе. Высокий уровень вовлечения представителей целевой аудитории.
        p Предварительные выводы неутешительны: консультация с широким активом способствует повышению качества глубокомысленных рассуждений. Для современного мира граница обучения кадров выявляет срочную потребность системы массового участия. Тщательные исследования конкурентов призывают нас к новым свершениям, которые, в свою очередь, должны быть обнародованы! Следует отметить, что синтетическое тестирование однозначно фиксирует необходимость соответствующих условий активизации. Есть над чем задуматься: диаграммы связей в равной степени предоставлены сами себе. Высокий уровень вовлечения представителей целевой аудитории.
  .article__more
    +wrapper(slug)
      h2.article__header.h2 Читайте также
    .article__more_wrapper
      +fluid(
        {
          type: 'link',
          link: '/article.html',
          text: 'Таким образом, убеждённость <br /> некоторых оппонентов однозначно',
        },
        ['Определяет каждого участника как способного принимать собственные решения касаемо дальнейших направлений развития. '],
        [{
          type: 'simple',
          link: '/article.html',
          text: 'Читать далее',
          class: 'text-small article-link'
        }]
      )
        +pic('', './assets/img/news-preview.jpg')
      +fluid(
        {
          type: 'link',
          link: '/article.html',
          text: 'Таким образом, убеждённость <br /> некоторых оппонентов однозначно',
        },
        ['Определяет каждого участника как способного принимать собственные решения касаемо дальнейших направлений развития. '],
        [{
          type: 'simple',
          link: '/article.html',
          text: 'Читать далее',
          class: 'text-small article-link'
        }]
      )
        +pic('', './assets/img/news-preview.jpg')
    +wrapper(slug)
      +buttonSimple({
        link: '#',
        text: 'Посмотреть еще'
      }, 'text-small article-link article__more-link')
  include ../../components/screen/screenAlso
