nav.pagination
  a.pagination-item.is-active(href="#")
  a.pagination-item(href="#")
  a.pagination-item(href="#")
  a.pagination-item(href="#")
  a.pagination-item(href="#")
  a.pagination-item(href="#")
