@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.footer {
  &__upper {
    @include media-breakpoint-between(0, xs) {
      padding-right: rem(10);
      padding-left: rem(10);
    }

    padding: rem(40) 0 rem(25);
    background: #313638;
  }

  &__lower {
    @include media-breakpoint-between(0, xs) {
      padding-right: rem(10);
      padding-left: rem(10);
    }

    padding: rem(27) 0 rem(30 - 12);
    background: #4f4f4f;

    .footer {
      &-row {
        @include media-breakpoint-down(lg) {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          &:last-of-type {
            flex-direction: column-reverse;
          }
        }
      }

      &__cell {
        &-text,
        &-link {
          margin-bottom: rem(12);
        }
      }
    }
  }

  &__container {
    @include make-grid-container(3, $grid-desktop-gap-col);
    @include media-breakpoint-down(lg) {
      @include make-grid-container(2, 10px, $grid-desktop-gap-row);
    }
  }

  &__cell {
    @include media-breakpoint-down(lg) {
      &:last-child {
        @include make-col-fluid();
      }
    }

    &-header {
      @include media-breakpoint-between(0, xs) {
        margin-bottom: rem(20);
      }

      margin-bottom: rem(45);
      color: #fff;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    &-link {
      @include media-breakpoint-between(0, xs) {
        @include font-size(12);

        margin-bottom: rem(10);
      }
      @include font-size(14);

      display: flex;
      align-items: center;
      margin-bottom: rem(25);
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #fff;
        cursor: pointer;
      }

      &[taget='_blank'] {
        text-decoration: underline;
      }

      &-icon {
        @include size(rem(24));
      }
    }

    &-text {
      margin-bottom: rem(25);
      color: #fff;
      font-size: rem(14);
    }
  }

  &-row {
    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__form {
    width: 100%;

    &-input {
      @include font-size(14);
      @include media-breakpoint-between(0, xs) {
        max-width: 100%;
        margin: rem(10) 0;
      }

      display: block;
      width: 100%;
      max-width: (230/370) * 100%;
      padding: rem(6) rem(14) rem(7);
      border: 1px solid #fff;
      border-radius: 3px;
      background-color: transparent;
      color: #fff;

      &::placeholder {
        color: #e8e9eb;
      }
    }

    &-submit {
      @include font-size(14);
      @include media-breakpoint-between(0, xs) {
        max-width: 100%;
        margin: rem(10) 0;
      }

      display: block;
      width: 100%;
      max-width: (130/370) * 100%;
      padding: rem(6) rem(20) rem(7);
      border: 1px solid $red;
      border-radius: 3px;
      background-color: $red;
      color: #fff;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }
}
