@use 'src/scss/utils/utils' as *;

.header {
  padding: 45px 0 48px;

  &__container {
    @include make-grid-container-max-widths();
    @include make-grid-container($grid-desktop, $grid-desktop-gap-col);
  }

  &__upper {
    @include make-col-fluid();

    display: grid;
    grid-template-columns: 4fr 8fr;
    width: 100%;

    &_inner {
      @include make-col-position(2, -1);

      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-left: rem(20);
    }

    &-cell {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &_top {
        display: flex;
        align-items: center;
      }

      &_link {
        display: block;
        margin-bottom: rem(2);
        margin-left: rem(4);
        color: #000;
      }

      &_descr {
        color: #bdbdbd;
      }
    }
  }

  &__logo {
    @include make-col-size(3, 2);

    max-height: 128px;
  }

  &__descr {
    @include make-col-position(5, -1);

    @include font-size(30);

    position: relative;
    margin-top: rem(16);
    padding-left: rem(58);
    color: $black;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 20px;
      display: block;
      width: 1px;
      height: 100%;
      background-color: $red;
    }
  }
}
