header.header
  +wrapper('header')
    .header__upper
      .header__upper_inner
        .header__upper-cell
          .header__upper-cell_top
            +icon('icon', 'phone')
            a.header__upper-cell_link.text-regular(href="tel:+74957617146") +7 (495) 761-71-46
        .header__upper-cell
          .header__upper-cell_top
            +icon('icon', 'mail')
            a.header__upper-cell_link.text-regular(href="mailto:info@tс-engineer.ru" target="_blank") info@tс-engineer.ru
        .header__upper-cell
          .header__upper-cell_top
            +icon('icon', 'wa')
            a.header__upper-cell_link.text-regular(href="https://wa.me/+74957617146" target="_blank" rel="nofollow noreferrer") Написать в WhatsApp
    +pic('header__logo', './assets/img/logo.png')
    p.header__descr Экспертные решения в области информационной безопасности, ИТ и непрерывности деятельности. Подготовка к сертификации.
  +form(
    'header-modal-form',
    'Заказать обратный звонок',
    false,
    [
      {
        type: 'text',
        name: 'name',
        placeholder: 'Ваше имя'
      },
      {
        type: 'tel',
        name: 'phone',
        placeholder: 'Телефон'
      }
    ],
    'Перезвоните мне',
    true,
    'header-modal-form-close'
  )
  .header-ty
    button.btn.header-ty-close.header-modal-form-close(type="button") &times;
    <h2 class="h2 medium" style="text-align: center">Спасибо за зявку!</h2>
    <p class="text-regular" style="text-align: center">Мы свяжемся с вами в ближайшее время</p>
